WCF&WebService/TestForm/TestForm/Connected Services/ServiceReference1/TestService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TestService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TestService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStudent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Student" nillable="true" type="tns:Student" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudent" nillable="true" type="tns:ArrayOfStudent" />
  <xs:complexType name="Student">
    <xs:sequence>
      <xs:element name="number" type="xs:int" />
      <xs:element name="name" nillable="true" type="xs:string" />
      <xs:element name="stype" type="tns:SubjectType" />
      <xs:element name="Grade" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Student" nillable="true" type="tns:Student" />
  <xs:simpleType name="SubjectType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NONE" />
      <xs:enumeration value="COM" />
      <xs:enumeration value="IT" />
      <xs:enumeration value="GAME" />
      <xs:enumeration value="ETC" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SubjectType" nillable="true" type="tns:SubjectType" />
</xs:schema>